.del {
    font-size: 0.6rem !important;
}

.small-cell {
    width: 8%;
}

.large-cell {
    width: 20%;
}

td {
    border-top: 1px solid #111;
    border-right:1px solid #111;
    border-left:1px solid #111;
    border-bottom:1px solid #111;
    padding:3px;
    padding-left:6px;
    margin:1px;
    border-radius:2px;
}